/* syntax: 
    #{VARIABLE_NAME}
    and normal css
*/

:root {
    --glide-bg: #{settings.theme.bg};
    --glide-fg: #{settings.theme.fg};
    --glide-alt: #{settings.theme.alt};
}

* {
    font-family: 'Arial', sans-serif;
    background-color: rgb(var(--glide-bg));
    color: rgb(var(--glide-fg));
}
